body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
    background-color: #f1c881; /* Fondo en color cálido */
    color: #ffffff; /* Color oscuro para el texto */
}
/* Estilos para pantallas grandes (escritorios) */
body {
  font-size: 20px;
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 480px) {
  body {
    font-size: 18px;
  }
}

/* Contenedor del mensaje */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Confeti */
.confetti-container {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.collage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

.collage img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.collage img:hover {
    transform: scale(1.1);
}



